flows/kaggle_gcs_bigquery.yml
id: kaggle_gcs_bigquery
namespace: dev

inputs:
  - id: force_clean
    type: BOOL
    defaults: false

tasks:
  # 1. Optional: Clean GCS if force_clean = true
  - id: clean_gcs_if_forced
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.force_clean }}"
    then:
      - id: delete_existing_files
        type: io.kestra.plugin.gcp.gcs.DeleteList
        from: "gs://olist-bucket-4939/olist_data/"
        serviceAccount: "{{ secret('GOOGLE_APPLICATION_CREDENTIALS') }}"
        projectId: "ecommerce-4939"

  # 2. Check if files exist in GCS (single check at start)
  - id: check_gcs_files
    type: io.kestra.plugin.gcp.gcs.List
    from: "gs://olist-bucket-4939/olist_data/"
    serviceAccount: "{{ secret('GOOGLE_APPLICATION_CREDENTIALS') }}"
    projectId: "ecommerce-4939"

  # 3. Download from Kaggle and Upload to GCS (only if GCS is empty)
  - id: process_data
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.check_gcs_files.blobs | length == 0 }}"
    then:
      - id: download_and_unzip
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: ghcr.io/astral-sh/uv:debian-slim
        env:
          DEBIAN_FRONTEND: noninteractive
        commands:
          - apt-get update -qq && apt-get install -y -qq unzip > /dev/null
          - uv tool run kaggle datasets download -d olistbr/brazilian-ecommerce
          - unzip -q brazilian-ecommerce.zip
        outputFiles:
          - "*.csv"

      - id: upload_files
        type: io.kestra.plugin.core.flow.ForEach
        concurrencyLimit: 3
        values: "{{ outputs.download_and_unzip.outputFiles | keys }}"
        tasks:
          - id: gcs_upload
            type: io.kestra.plugin.gcp.gcs.Upload
            from: "{{ outputs.download_and_unzip.outputFiles[taskrun.value] }}"
            to: "gs://olist-bucket-4939/olist_data/{{ taskrun.value }}"
            serviceAccount: "{{ secret('GOOGLE_APPLICATION_CREDENTIALS') }}"
            projectId: "ecommerce-4939"

  # 4. Load from GCS → BigQuery using dlt (only if files exist in GCS)
  - id: load_to_bigquery
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.check_gcs_files.blobs | length > 0 }}"
    then:
      - id: run_dlt_pipeline
        type: io.kestra.plugin.dlt.Run
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: ghcr.io/kestra-io/dlt:latest
        env:
          # Pass the full service account JSON string — already set in Kestra secrets
          GCP_APPLICATION_CREDENTIALS: "{{ secret('GCP_APPLICATION_CREDENTIALS') }}"
        beforeCommands:
          - uv pip install --system --quiet "dlt[bigquery,gcs]"
          - dlt --non-interactive init filesystem bigquery
        script: |
          import os
          import dlt
          from dlt.sources.credentials import GcpServiceAccountCredentials
          from dlt.sources.filesystem import filesystem, read_csv

          # Parse the full service account JSON string directly into GcpServiceAccountCredentials
          # parse_native_representation() accepts the serialized service.json as a string or dict
          credentials = GcpServiceAccountCredentials()
          credentials.parse_native_representation(os.environ["GCP_APPLICATION_CREDENTIALS"])

          print("Authenticated as:", credentials.client_email)
          print("Project:", credentials.project_id)

          # GCS source with explicit credentials
          source = filesystem(
              bucket_url="gs://olist-bucket-4939/olist_data/",
              file_glob="**/*.csv",
              credentials=credentials,
          ) | read_csv()

          # BigQuery destination with the same credentials object
          pipeline = dlt.pipeline(
              pipeline_name="olist_brazilian_ecommerce",
              destination=dlt.destinations.bigquery(
                  credentials=credentials,
              ),
              dataset_name="olist_dataset_4939",
          )

          load_info = pipeline.run(
              source,
              loader_file_format="parquet",
              write_disposition="append",
          )

          print("Load completed successfully!")
          print(load_info)

  # Optional: Error handling / cleanup
errors:
  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: Cleans up Kestra storage after execution.
    disabled: false
