flows/kaggle_gcs_bigquery.yml
id: kaggle_gcs_bigquery
namespace: dev

inputs:
  - id: force_clean
    type: BOOL
    defaults: false

tasks:
  - id: add_flow_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      flow_type: "data_ingestion"

  # 1. Optional: Clean GCS if force_clean = true
  - id: clean_gcs_if_forced
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.force_clean }}"
    then:
      - id: delete_existing_files
        type: io.kestra.plugin.gcp.gcs.DeleteList
        from: "gs://olist-bucket-4939/olist_data/"
        serviceAccount: "{{ secret('GOOGLE_APPLICATION_CREDENTIALS') }}"
        projectId: "ecommerce-4939"

  # 2. Check if files exist in GCS (single check at start)
  - id: check_gcs_files
    type: io.kestra.plugin.gcp.gcs.List
    from: "gs://olist-bucket-4939/olist_data/"
    serviceAccount: "{{ secret('GOOGLE_APPLICATION_CREDENTIALS') }}"
    projectId: "ecommerce-4939"

  # 3. Download from Kaggle and Upload to GCS (only if GCS is empty)
  - id: process_data
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.check_gcs_files.blobs | length == 0 }}"
    then:
      - id: download_and_unzip
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: ghcr.io/astral-sh/uv:debian-slim
        env:
          DEBIAN_FRONTEND: noninteractive
        commands:
          - apt-get update -qq && apt-get install -y -qq unzip > /dev/null
          - uv tool run kaggle datasets download -d olistbr/brazilian-ecommerce
          - unzip -q brazilian-ecommerce.zip
        outputFiles:
          - "*.csv"

      - id: upload_files
        type: io.kestra.plugin.core.flow.ForEach
        concurrencyLimit: 3
        values: "{{ outputs.download_and_unzip.outputFiles | keys }}"
        tasks:
          - id: gcs_upload
            type: io.kestra.plugin.gcp.gcs.Upload
            from: "{{ outputs.download_and_unzip.outputFiles[taskrun.value] }}"
            to: "gs://olist-bucket-4939/olist_data/{{ taskrun.value }}"
            serviceAccount: "{{ secret('GOOGLE_APPLICATION_CREDENTIALS') }}"
            projectId: "ecommerce-4939"

  # 4. Re-check GCS after potential upload (covers first-run case where
  #    check_gcs_files ran before upload and found 0 blobs)
  - id: recheck_gcs_files
    type: io.kestra.plugin.gcp.gcs.List
    from: "gs://olist-bucket-4939/olist_data/"
    serviceAccount: "{{ secret('GOOGLE_APPLICATION_CREDENTIALS') }}"
    projectId: "ecommerce-4939"

  # 5. Load from GCS → BigQuery using dlt (one table per CSV file)
  - id: load_to_bigquery
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.recheck_gcs_files.blobs | length > 0 }}"
    then:
      - id: run_dlt_pipeline
        type: io.kestra.plugin.dlt.Run
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: ghcr.io/kestra-io/dlt:latest
        env:
          GCP_APPLICATION_CREDENTIALS: "{{ secret('GOOGLE_APPLICATION_CREDENTIALS') }}"
        beforeCommands:
          - uv pip install --system --quiet "dlt[bigquery,gcs]" google-cloud-storage google-cloud-bigquery-storage pandas
          - dlt --non-interactive init filesystem bigquery
        script: |
          import os
          import re
          import io
          import json
          import pandas as pd
          import dlt
          from dlt.sources.credentials import GcpServiceAccountCredentials
          from google.cloud import storage
          from google.oauth2 import service_account

          # ── Credentials ──
          sa_info = json.loads(os.environ["GCP_APPLICATION_CREDENTIALS"])

          # dlt credential object — used for BigQuery destination
          dlt_credentials = GcpServiceAccountCredentials()
          dlt_credentials.parse_native_representation(os.environ["GCP_APPLICATION_CREDENTIALS"])
          print("Authenticated as:", dlt_credentials.client_email)
          print("Project:", dlt_credentials.project_id)

          # GCS client — used to list and download each CSV individually
          gcs_creds = service_account.Credentials.from_service_account_info(sa_info)
          gcs_client = storage.Client(credentials=gcs_creds, project=sa_info["project_id"])

          # ── Discover CSV files ─
          bucket_name = "olist-bucket-4939"
          prefix = "olist_data/"
          blobs = list(gcs_client.list_blobs(bucket_name, prefix=prefix))
          csv_blobs = [b for b in blobs if b.name.endswith(".csv")]
          print(f"Found {len(csv_blobs)} CSV files")

          # ── Build one dlt resource per CSV file ───
          # Each resource becomes its own BigQuery table named after the file.
          # e.g. olist_customers_dataset.csv → customers
          def make_resource(blob):
              filename = blob.name.split("/")[-1]
              table_name = re.sub(r"^olist_|_dataset|\.csv$", "", filename)

              @dlt.resource(name=table_name, write_disposition="replace")
              def _resource():
                  content = blob.download_as_bytes()
                  df = pd.read_csv(io.BytesIO(content))
                  print(f"  → {table_name}: {len(df)} rows | columns: {list(df.columns)}")
                  yield df.to_dict(orient="records")

              return _resource()

          resources = [make_resource(blob) for blob in csv_blobs]

          # ── Pipeline ─
          pipeline = dlt.pipeline(
              pipeline_name="olist_brazilian_ecommerce",
              destination=dlt.destinations.bigquery(
                  credentials=dlt_credentials,
              ),
              dataset_name="olist_dataset_4939",
          )

          load_info = pipeline.run(resources)

          print("Load completed successfully!")
          print(load_info)

errors:
  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: Cleans up Kestra storage after execution.
    disabled: false